<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/competitions">Competitions</a></li>
      <li><a href="/blogs">Blogs</a></li>
      <li><a href="/courses">Courses</a></li>
    </ul>
  </nav>
</header>